{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-dashboard/colormapping

    Block template for the color mapping form part.

    Classes required for JS:
    * none

}}
<!-- block_dashboard/colormapping -->
<fieldset id="dashboardsettings-panel-tablecolormapping" class="dashboardsettings-panel off">
<legend>{{strtablecolormapping}} {{{tablecolormappinghelp}}}</legend>

<table class="dashboard-setup">

    <tr valign="top">

        <td align="center">
            <b>{{configcolors}}</b><br/>
            <textarea cols="20" rows="10" name="colors" >{{{colors}}}</textarea>
        </td>

        <td align="center">
            <b>{{strconfigcolorfield}}:</b><br/>
            <input type="text" name="colorfield" value="{{colorfield}}" size="20" />
        </td>

        <td align="center">
            <b>{{configcoloredvalues}}</b><br/>
            <textarea cols="20" rows="10" name="coloredvalues" >{{{coloredvalues}}}</textarea>
        </td>

    </tr>

</table>

</fieldset>
<!-- /block_dashboard/colormapping -->