{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-dashboard/datarefresh

    Block template for the refresh params form

    Classes required for JS:
    * none

}}
<!-- block_dashboard/datarefresh -->
<fieldset id="dashboardsettings-panel-datarefresh" class="dashboardsettings-panel off">
<legend>{{strdatarefresh}}</legend>

<table class="dashboard-setup">

    <tr valign="top">

        <td align="right">
            <b>{{{strconfigcronmode}}}: {{{helpiconconfigdelayedrefresh}}}</b>
        </td>

        <td>
            {{{cronmodeselect}}}
        </td>

        <td align="right">
            <b>{{{strconfigcrontime}}}: </b>
        </td>

        <td>
            {{{cronhourselect}}}
            {{strhours}}

            {{{cronminselect}}}
            {{strmins}}
        </td>
    </tr>

    <tr valign="top">
        <td align="right">
            <b>{{{strconfigsendadminnotification}}}:</b>
        </td>

        <td align="left">
            <input type="checkbox" name="cronadminnotifications" value="1" {{{cronadminnotificationschecked}}} /> {{strenabled}}
        </td>

        <td align="right">
            <b>{{{strconfigcronfrequency}}}: </b>
        </td>

        <td align="left">
            {{{cronfrequencyselect}}}
        </td>
    </tr>
</table>
</fieldset>
<!-- /block_dashboard/datarefresh -->
