{{!
    This file is part of The Course Module Navigation Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block-dashboard/queryparams

    Block template for query description form

    Classes required for JS:
    * none

}}
<fieldset id="dashboardsettings-panel-queryparams" class="dashboardsettings-panel off">
<legend>{{strqueryparams}}</legend>
<table class="dashboard-setup">

    <tr valign="top">
        <td align="center" colspan="4">
        {{strconfigparams}}
        </td>
    </tr>

    <tr valign="top">
        <td align="right" width="25%">
        <b>{{strsqlparamvar}}</b>
        </td>

        <td align="right" width="25%">
        <b>{{strsqlparamlabel}}</b>
        </td>

        <td align="right" width="25%">
        <b>{{strsqlparamtype}}</b>
        </td>

        <td align="right" width="25%">
        <b>{{strsqlparamvalues}}</b>
        </td>
    </tr>

{{#params}}
    <tr valign="top">
    <td align="right" width="25%">
        <input type="text" size="20" name="{{varkey}}" value="{{varkeyvalue}}" />
    </td>

    <td align="right" width="25%">
        <input type="text" size="20" name="{{labelkey}}" value="{{labelkeyvalue}}" />
    </td>

    <td align="right" width="25%">
        {{{typeselect}}}
    </td>

    <td align="right" width="25%">
        <textarea name="{{valueskey}}" rows="5" cols="30">{{valueskeyvalue}}</textarea>
    </td>
    </tr>
{{/params}}

</table>
</fieldset>
